@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body, html {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  height: 100%;
}

body {
  font-family: 'Roboto Mono', monospace;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #1f1e33, #100f1a);
}

#csCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

a {
  display: inline-block;
  background: #FF99CC;
  color: #1f1e33;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #FF99CC;
  transition: all 0.3s ease;
  text-decoration: none;
}

a:hover {
  color: #FF99CC;
  background: none;
}

.coming_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  margin: 0 auto;
  color: #ff99cc;
  text-align: center;
  z-index: 101;
}
.coming_content h1 {
  font-size: 5.625em;
  margin: 0;
  letter-spacing: 2px;
  text-align: center;
  color: #efecfe;
}
.coming_content .separator_container {
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  margin: 12px 0;
}
.coming_content .separator_container:before, .coming_content .separator_container:after {
  display: table;
  content: "";
}
.coming_content .separator_container:after {
  clear: both;
}
.coming_content .separator {
  color: #efecfe;
  margin: 0 auto 1em;
  width: 11em;
}
.coming_content .line_separator svg {
  width: 30px;
  height: 20px;
}
.coming_content .line_separator:before, .coming_content .line_separator:after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 14px;
  border: 1px solid #efecfe;
}
.coming_content .line_separator:before {
  float: left;
}
.coming_content .line_separator:after {
  float: right;
}
.coming_content h3 {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 2px;
  line-height: 2;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  margin: 0;
}
.coming_content h3 a {
  text-decoration: underline;
}